### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [86]:
total_schools = school_data_complete['School ID'].max() + 1

total_students = school_data_complete['Student ID'].count()

budgets = school_data_complete['budget'].unique()
total_budget = budgets.sum()

av_math_score = school_data_complete['math_score'].mean()

av_reading_score = school_data_complete['reading_score'].mean()

overall_passing_rate = (av_math_score + av_reading_score)/2

students_passing_math = school_data_complete['math_score'] >= 70
percent_passing_math = (students_passing_math.sum()/total_students) * 100

students_passing_reading = school_data_complete['reading_score'] >= 70
percent_passing_reading = (students_passing_reading.sum()/total_students) * 100

district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 
    'Average Math Score': [av_math_score], 'Average Reading Score': [av_reading_score], 
    '% Passing Math': [percent_passing_math], '% Passing Reading': [percent_passing_reading], 
    '% Overall Passing Rate': [overall_passing_rate]
                                })

district_summary_df['Total Students'] = district_summary_df['Total Students'].apply('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].apply('${:,.2f}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].apply('{:.6f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].apply('{:.6f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].apply('{:.6f}'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].apply('{:.6f}'.format)
district_summary_df['% Overall Passing Rate'] = district_summary_df['% Overall Passing Rate'].apply('{:.6f}'.format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.980853,85.805463,80.431606

In [90]:
#School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [91]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,"39,170.0","39,170.0","39,170.0","39,170.0","39,170.0","39,170.0"
mean,"19,584.5",81.87784018381414,78.98537145774827,6.978172070462088,"3,332.9571100331887","2,117,240.989481746"
std,"11,307.549358724904",10.239580049916732,12.309967974915544,4.4443286805704805,"1,323.9140687695694","874,998.7497097739"
min,0.0,63.0,55.0,0.0,427.0,"248,087.0"
25%,"9,792.25",73.0,69.0,3.0,"1,858.0","1,081,356.0"
50%,"19,584.5",82.0,79.0,7.0,"2,949.0","1,910,635.0"
75%,"29,376.75",91.0,89.0,11.0,"4,635.0","3,022,020.0"
max,"39,169.0",99.0,99.0,14.0,"4,976.0","3,124,928.0"

In [92]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.