### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [239]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [240]:
total_schools = school_data_complete['School ID'].max() + 1

total_students = school_data_complete['Student ID'].count()

budgets = school_data_complete['budget'].unique()
total_budget = budgets.sum()

av_math_score = school_data_complete['math_score'].mean()
av_reading_score = school_data_complete['reading_score'].mean()

overall_passing_rate = (av_math_score + av_reading_score)/2

students_passing_math = school_data_complete['math_score'] >= 70
percent_passing_math = (students_passing_math.sum()/total_students) * 100

students_passing_reading = school_data_complete['reading_score'] >= 70
percent_passing_reading = (students_passing_reading.sum()/total_students) * 100

district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 
    'Average Math Score': [av_math_score], 'Average Reading Score': [av_reading_score], 
    '% Passing Math': [percent_passing_math], '% Passing Reading': [percent_passing_reading], 
    '% Overall Passing Rate': [overall_passing_rate]
                                })

district_summary_df['Total Students'] = district_summary_df['Total Students'].apply('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].apply('${:,.2f}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].apply('{:.6f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].apply('{:.6f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].apply('{:.6f}'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].apply('{:.6f}'.format)
district_summary_df['% Overall Passing Rate'] = district_summary_df['% Overall Passing Rate'].apply('{:.6f}'.format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.980853,85.805463,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [267]:
school_groups = school_data_complete.groupby(['school_name'])

school_type = school_groups['type'].unique()

total_schoolstudents = school_groups['Student ID'].count()

total_schoolbudget = school_groups['budget'].unique()

perstudent_schoolbudget = total_budget / total_students

schools_av_math = school_groups['math_score'].mean()

schools_av_reading = school_groups['reading_score'].mean()

schoolstudents_mathlist = school_groups['math_score'].value_counts()
schoolstudents_mathpassing = schoolstudents_mathlist >= 70
schoolstudents_percentmath = (schoolstudents_mathpassing.sum()/total_schoolstudents) * 100

schoolstudents_readinglist = school_groups['reading_score'].value_counts()
schoolstudents_readingpassing = schoolstudents_readinglist >= 70
schoolstudents_percentreading = (schoolstudents_readingpassing.sum()/total_schoolstudents) * 100

overall_passing_rate = (schools_av_math + schools_av_reading)/2

count    15.000000
mean     80.432530
std       3.374548
min      76.629414
25%      77.060448
50%      83.061895
75%      83.388902
max      83.839917
Name: math_score, dtype: float64

In [266]:
school_summary_df = pd.DataFrame({
    'School Type': school_type, 'Total Students': total_schoolstudents, 'Total School Budget': total_schoolbudget, 
    'Per Student Budget': perstudent_budget, 'Average Math Score': schools_av_math, 'Average Reading Score': schools_av_reading, 
    '% Passing Math': schoolstudents_percentmath, '% Passing Reading': schoolstudents_percentreading, 
    'Overall Passing Rate': overall_passing_rate
})

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,4.702572,5.305466,79.041198
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,12.594187,14.208827,83.518837
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,7.934893,8.952187,78.934893
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,8.543264,9.638554,78.924425
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,15.940054,17.983651,83.584128
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,5.048544,5.695793,79.112082
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,54.800937,61.826698,83.809133
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,8.021940,9.050394,78.906068
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,4.914934,5.545054,79.019429
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,24.324324,27.442827,83.942308
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,5.851463,6.601650,78.793698
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,13.287905,14.991482,83.542589
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,14.311927,16.146789,83.633639
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,10.249671,11.563732,83.631844
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,13.000000,14.666667,83.818611

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [272]:
top_five_schools = school_summary_df.sort_values(['Overall Passing Rate'], ascending=False)
top_five_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,24.324324,27.442827,83.942308
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,13.000000,14.666667,83.818611
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,54.800937,61.826698,83.809133
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,14.311927,16.146789,83.633639
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,10.249671,11.563732,83.631844

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [273]:
bottom_five_schools = school_summary_df.sort_values(['Overall Passing Rate'], ascending=True)
bottom_five_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,5.851463,6.601650,78.793698
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,8.021940,9.050394,78.906068
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,8.543264,9.638554,78.924425
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,7.934893,8.952187,78.934893
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,4.914934,5.545054,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.