### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
total_schools = school_data_complete['School ID'].max() + 1

total_students = school_data_complete['Student ID'].count()

budgets = school_data_complete['budget'].unique()
total_budget = budgets.sum()

av_math_score = school_data_complete['math_score'].mean()
av_reading_score = school_data_complete['reading_score'].mean()

overall_passing_rate = (av_math_score + av_reading_score)/2

students_passing_math = school_data_complete['math_score'] >= 70
percent_passing_math = (students_passing_math.sum()/total_students) * 100

students_passing_reading = school_data_complete['reading_score'] >= 70
percent_passing_reading = (students_passing_reading.sum()/total_students) * 100

district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 
    'Average Math Score': [av_math_score], 'Average Reading Score': [av_reading_score], 
    '% Passing Math': [percent_passing_math], '% Passing Reading': [percent_passing_reading], 
    '% Overall Passing Rate': [overall_passing_rate]
                                })

district_summary_df['Total Students'] = district_summary_df['Total Students'].apply('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].apply('${:,.2f}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].apply('{:.2f}%'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].apply('{:.2f}%'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].apply('{:.2f}%'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].apply('{:.2f}%'.format)
district_summary_df['% Overall Passing Rate'] = district_summary_df['% Overall Passing Rate'].apply('{:.2f}%'.format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.43%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
school_names = school_data_complete['school_name'].unique()

school_groups = school_data_complete.groupby(['school_name'])

school_type = school_groups['type'].unique()

total_schoolstudents = school_groups['Student ID'].count()

total_schoolbudget = school_groups['budget'].unique()
total_schoolbudget = total_schoolbudget.astype(int)

school_size = school_groups['size'].count()
perstudent_schoolbudget = total_schoolbudget / school_size

schools_av_math = school_groups['math_score'].mean()

schools_av_reading = school_groups['reading_score'].mean()

passingmathscores = school_data_complete[(school_data_ complete['math_score'] >= 70)]['school_name'].value_counts()
schools_percentpassingmath = passingmathscores/total_schoolstudents * 100

passingreadingscores = school_data_complete[(school_data_complete['reading_score'] >= 70)]['school_name'].value_counts()
schools_percentpassingreading = passingreadingscores/total_schoolstudents * 100

schools_overallpassingrate = (schools_percentpassingmath + schools_percentpassingreading)/2

SyntaxError: invalid syntax (<ipython-input-13-8a7785e1452b>, line 19)

In [15]:
school_summary_df = pd.DataFrame({
    'School Type': school_type, 'Total Students': total_schoolstudents, 
    'Total School Budget': total_schoolbudget, 'Per Student Budget': perstudent_schoolbudget, 
    'Average Math Score': schools_av_math, 'Average Reading Score': schools_av_reading,
    '% Passing Math': schools_percentpassingmath, '% Passing Reading': schools_percentpassingreading,
    'Overall Passing Rate': schools_overallpassingrate
})


school_summary_df['Total Students'] = school_summary_df['Total Students'].apply('{:,}'.format)
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].apply('${:,.2f}'.format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].apply('${:,.2f}'.format)
school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].apply('{:,.2f}%'.format)
school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].apply('{:,.2f}%'.format)
school_summary_df['% Passing Math'] = school_summary_df['% Passing Math'].apply('{:,.2f}%'.format)
school_summary_df['% Passing Reading'] = school_summary_df['% Passing Reading'].apply('{:,.2f}%'.format)
school_summary_df['Overall Passing Rate'] = school_summary_df['Overall Passing Rate'].apply('{:,.2f}%'.format)

school_summary_df

NameError: name 'school_type' is not defined

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [16]:
top_five_schools = school_summary_df.sort_values(['Overall Passing Rate'], ascending=False)
top_five_schools.head(5)

NameError: name 'school_summary_df' is not defined

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [17]:
bottom_five_schools = school_summary_df.sort_values(['Overall Passing Rate'], ascending=True)
bottom_five_schools.head(5)

NameError: name 'school_summary_df' is not defined

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [18]:
avmathscores_9grade = school_data_complete.loc[(school_data_complete['grade'] == '9th')].groupby('school_name')['math_score'].mean()

avmathscores_10grade = school_data_complete.loc[(school_data_complete['grade'] == '10th')].groupby('school_name')['math_score'].mean()

avmathscores_11grade = school_data_complete.loc[(school_data_complete['grade'] == '11th')].groupby('school_name')['math_score'].mean()

avmathscores_12grade = school_data_complete.loc[(school_data_complete['grade'] == '12th')].groupby('school_name')['math_score'].mean()

In [12]:
avmathscores_bygrade_df = pd.DataFrame({'9th grade': avmathscores_9grade, '10th grade': avmathscores_10grade, 
                                     '11th grade': avmathscores_11grade, '12th grade': avmathscores_12grade})

avmathscores_bygrade_df['9th grade'] = avmathscores_bygrade_df['9th grade'].apply('{:,.2f}%'.format)
avmathscores_bygrade_df['10th grade'] = avmathscores_bygrade_df['10th grade'].apply('{:,.2f}%'.format)
avmathscores_bygrade_df['11th grade'] = avmathscores_bygrade_df['11th grade'].apply('{:,.2f}%'.format)
avmathscores_bygrade_df['12th grade'] = avmathscores_bygrade_df['12th grade'].apply('{:,.2f}%'.format)

avmathscores_bygrade_df

                      9th grade 10th grade 11th grade 12th grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [20]:
avreadingscores_9grade = school_data_complete.loc[(school_data_complete['grade'] == '9th')].groupby('school_name')['reading_score'].mean()

avreadingscores_10grade = school_data_complete.loc[(school_data_complete['grade'] == '10th')].groupby('school_name')['reading_score'].mean()

avreadingscores_11grade = school_data_complete.loc[(school_data_complete['grade'] == '11th')].groupby('school_name')['reading_score'].mean()

avreadingscores_12grade = school_data_complete.loc[(school_data_complete['grade'] == '12th')].groupby('school_name')['reading_score'].mean()

In [21]:
avreadingscores_bygrade_df = pd.DataFrame({'9th grade': avreadingscores_9grade, '10th grade': avreadingscores_10grade, 
                                     '11th grade': avreadingscores_11grade, '12th grade': avreadingscores_12grade})

avreadingscores_bygrade_df['9th grade'] = avreadingscores_bygrade_df['9th grade'].apply('{:,.2f}%'.format)
avreadingscores_bygrade_df['10th grade'] = avreadingscores_bygrade_df['10th grade'].apply('{:,.2f}%'.format)
avreadingscores_bygrade_df['11th grade'] = avreadingscores_bygrade_df['11th grade'].apply('{:,.2f}%'.format)
avreadingscores_bygrade_df['12th grade'] = avreadingscores_bygrade_df['12th grade'].apply('{:,.2f}%'.format)

avreadingscores_bygrade_df

                      9th grade 10th grade 11th grade 12th grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [22]:
school_summary_2df = pd.DataFrame({
    'School Type': school_type, 'Total Students': total_schoolstudents, 
    'Total School Budget': total_schoolbudget, 'Per Student Budget': perstudent_schoolbudget, 
    'Average Math Score': schools_av_math, 'Average Reading Score': schools_av_reading,
    '% Passing Math': schools_percentpassingmath, '% Passing Reading': schools_percentpassingreading,
    'Overall Passing Rate': schools_overallpassingrate
})

NameError: name 'school_type' is not defined

In [23]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [24]:
school_summary_2df['Spending Ranges Per Student'] = pd.cut(school_summary_2df['Per Student Budget'], bins, labels=group_names)

NameError: name 'school_summary_2df' is not defined

In [25]:
spending_groups = school_summary_2df.groupby(['Spending Ranges Per Student'])

spending_groups[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                 '% Passing Reading', 'Overall Passing Rate']].mean()

NameError: name 'school_summary_2df' is not defined

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
school_summary_3df = pd.DataFrame({
    'School Type': school_type, 'School Size': school_size, 'Total Students': total_schoolstudents, 
    'Total School Budget': total_schoolbudget, 'Per Student Budget': perstudent_schoolbudget, 
    'Average Math Score': schools_av_math, 'Average Reading Score': schools_av_reading,
    '% Passing Math': schools_percentpassingmath, '% Passing Reading': schools_percentpassingreading,
    'Overall Passing Rate': schools_overallpassingrate
})

NameError: name 'school_type' is not defined

In [27]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [28]:
school_summary_3df['School Size'] = pd.cut(school_summary_3df['School Size'], size_bins, labels=group_names)

NameError: name 'school_summary_3df' is not defined

In [29]:
size_groups = school_summary_3df.groupby(['School Size'])

size_groups[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                 '% Passing Reading', 'Overall Passing Rate']].mean()

NameError: name 'school_summary_3df' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type.

In [30]:
school_summary_4df = pd.DataFrame({
    'School Type': school_type, 'School Size': school_size, 'Total Students': total_schoolstudents, 
    'Total School Budget': total_schoolbudget, 'Per Student Budget': perstudent_schoolbudget, 
    'Average Math Score': schools_av_math, 'Average Reading Score': schools_av_reading,
    '% Passing Math': schools_percentpassingmath, '% Passing Reading': schools_percentpassingreading,
    'Overall Passing Rate': schools_overallpassingrate
})

NameError: name 'school_type' is not defined

In [31]:
type_groups = school_summary_4df.groupby(['School Type'])

type_groups[['Average Math Score', 'Average Reading Score', '% Passing Math', 
                 '% Passing Reading', 'Overall Passing Rate']].mean()

NameError: name 'school_summary_4df' is not defined